<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/view-products.css">
    <title>Create Product</title>
</head>
<body>
    <h1>Welcome to UTA Mesivta of Kiryes Joel</h1>
    <div>
        <% for(let vendor of vendors){ %>
            <% if (vendor.vendorId === vendorId) { %>
                <h2>You are making an order for <span class="companyname"><%= vendor.companyname %></span></h2>
            <% } %>
        <% } %>
    </div>

    <div class="go-back">
        <p class="back-p">Click Here to go Back to Previews Page</p>
        <form action="/main" method="GET">
            <input type="submit" value="Go Back" class="back-vendor">
        </form>
    </div>

    <div class="between">
        <form action="/between" method="POST">
            <p class="select-p">Select a Date to See All Vendor Orders</p>
            <div class="label">
                <label for="from">From:</label>
                    <input type="date" name="from" class="from-to">
                <label for="to">To:</label>
                    <input type="date" name="to" class="from-to">
                </div>
                    <div>
                <input type="submit" value="Select" class="select-btn">
            </div>
        </form>
    </div>

    <div class="create">
        <h3>Create New Product</h3>
        <form action="/createProduct" method="POST">
            <div class="description">
                <input type="textarea" rows="4" name="description" class="description" placeholder="Description...">
            </div>
            <div class="qty">
                <input type="number" class="per-cs" name="perCase" placeholder="Per Case...">
            </div>
            <div class="price">
                <input type="number" class="price" name="price" step="0.01" placeholder="Price...">
            </div>
            <div class="submit">
                <input type="submit" value="Create" class="submit-p">
            </div>
        </form>
    </div>

    <div class="items">
        <form action="/orderItems" method="POST" id="order-items">
                <table id="myTable">
                  <div>
                    <thead>
                        <th>#</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total Cases</th>
                        <th>Total Price</th>
                    </thead>
                </div>
                <% for(let product of products) { %>
                    <% for(let vendor of vendors) { %>
                        <% if (product.vendorId === vendor.vendorId) { %>
            <div>
                <tbody>
                    <tr id="TR" ondblclick="selectTableRowData(event)">
                    <input type="hidden" id="tbl-id" class="tbl-id-input" name="productId" value="<%= product.productId %>">
                    <td class="tbl-num"></td>
                    <td class="tbl-amount"><input type="text" class="tbl-amount-input" name="amount" id="amount" onchange="sumBoxes()"></td>
                    <td class="tbl-description"><input type="text" class="tbl-description-input" id="td-desc" name="productdesc" value="<%= product.description %>" readonly></td>
                    <td class="tbl-qty"><input type="text" class="tbl-qty-input" id="td-qty" name="qty" value="<%= product.perCase %>" readonly></td>
                    <td class="tbl-price"><input type="text" class="tbl-price-input" id="td-price" name="price" value="<%= product.price %>" readonly></td>           
                    <td class="tbl-ttl-boxes"><input type="text" name="totalboxes" id="total-boxes" value="" readonly></td>
                    <td class="tbl-ttl-price"><input type="text" name="totalprice" id="total-price" value="" readonly></td>
                    <input type="hidden" name="date">
                    </tr>
                </tbody> 
            </div>          
                <% } %>
               <% } %>
              <% } %>
            </table>
              <div class="submit-order-div">
                    <div class="sub-total">
                        <p class="sub-total-p">Sub Total</p>        
                        <input type="number" id="sub-total" class="sub-total-input" readonly>
                    </div>
                    <input type="submit" class="submit-order" onclick="orderConfirmed()" value="Submit Order" id="submit-order">
                </div>
            </form> 
    </div>

        <div class="modal" id="modal">
            <div class="modal-content">
                <p class="modal-p">Order Submitted Successfully</p>
            </div>
        </div>

        <div class="update-modal" id="update-modal">
            <div class="update-modal-content">
                <p class="update-modal-p">Item Updated Successfully</p>
            </div>
        </div>

            <div class="create-update" id="create-update">
                <div class="text-center">                    
                    <input type="button" onclick="hideComformation()" value="X" class="back">
                    <h3 class="update-h3">Update Item</h3>
                <div>
                    
                <form action="/update" method="POST" id="update" onsubmit="itemUpdated()">
                        <input type="hidden" value="" name="productId" id="update-productId">
                    <div class="update-desc-div">
                        <p>Update Description:
                        <input type="text" id="update-description" value="" name="description" class="update-desc">
                    </p></div>
                    <div class="update-qty-div">
                        <p>Update Qty:
                        <input type="text" id="update-qty" value="" name="perCase" class="update-qty">
                    </p></div>
                    <div class="update-price-div">
                        <p>Update Price:
                        <input type="text" id="update-price" value="" name="price" class="update-price">
                    </p></div>
                    
                    <div class="update-cancel">
                        <input type="submit" class="submit-update" value="Update">
                    </div>
                </form>
                <input type="submit" value="Delete">
            </div>
         </div>
       </div>

    <script>

    /*function sumBoxes() {
        
        let table = document.getElementById("myTable");
        let amount = document.getElementById('amount');
        let boxes = document.getElementById('total-boxes');

        for (var i = 0, row; row = table.rows[i]; i++) {
        for (var j = 0, col; col = row.cells[j]; j++) {
            boxes[j].innerHTML = amount + amount;
      }
    }*/
        /*document.getElementById("total-boxes").innerHTML = sumVal;

        let boxes = document.getElementById('total-boxes');
        const row = event.target.parentNode;
        const amount = row.cells[2].textContent;

        boxes.innerText = amount * boxes;*/

        /*let totalBoxes = amount * boxes;
        document.getElementById('total-boxes').innerText = totalBoxes;*/
    //}

    function sumBoxes() {
        let table = document.getElementById("myTable");
        let amount = parseInt(document.getElementById('amount').value);
        let boxes = document.getElementById('total-boxes');

        let sum = 0;
        for (var i = 0, row; row = table.rows[i]; i++) {
           for (var j = 0, col; col = row.cells[j]; j++) {
            sum += parseFloat(col.innerHTML);
            }
            boxes.innerHTML = sum + amount;
        }
      }

    function hideComformation(){
        document.getElementById('create-update').style.display = 'none'
    }

    function selectTableRowData(event){
        document.getElementById('create-update').style.display = 'block';

        const row = event.target.parentNode;
        const rowData = {
        //productId: row.cells[0].textContent,
        //description: row.cells[3].textContent,
        //qty: row.cells[4].textContent,
        //price: row.cells[5].textContent
        
        productId: row.querySelector('.tbl-id-input').value,
        description: row.querySelector('.tbl-description-input').value,
        qty: row.querySelector('.tbl-qty-input').value,
        price: row.querySelector('.tbl-price-input').value,
       }
             
        document.getElementById('update-productId').value = rowData.productId;
        document.getElementById('update-description').value = rowData.description;
        document.getElementById('update-qty').value = rowData.qty;
        document.getElementById('update-price').value = rowData.price;

        const form = document.getElementById('update');
        form.addEventListener('submit', (event) => {
        event.preventDefault();

        const updatedData = {
        productId: document.getElementById('update-productId').value,
        description: document.getElementById('update-description').value,
        perCase: document.getElementById('update-qty').value,
        price: document.getElementById('update-price').value
        };

        form.submit();
        document.getElementById('create-update').style.display = 'none';
         
      });
    };

    function itemUpdated(){
        document.getElementById('update-modal').style.display = 'block'        
        setTimeout( () => {
        document.getElementById('update-modal').style.display = 'none'
        }, 1500)
    }

    /*function sumBoxes() {
        let rows = document.getElementsByClassName('details');
        let totalBoxes = document.getElementById('total-boxes').value;

        for (let i = 0; i < rows.length; i++) {
            let amountInput = rows[i].querySelector('[name="amount"]');
            let amount = parseFloat(amountInput.value);
            let boxesPerCase = parseInt(rows[i].querySelector('[name="qty"]').value, 10);

            let totalForRow = amount * boxesPerCase;
            totalBoxes += totalForRow;

            rows[i].querySelector('[name="totalboxes"]').value = totalForRow;
        }

        document.getElementById('total-boxes').value = totalBoxes;
    }*/

    function orderConfirmed(){
        document.querySelector('#order-items').addEventListener('submit', (event) => {
        event.preventDefault();
        document.getElementById('modal').style.display = 'block'        
        setTimeout( () => {
        document.getElementById('modal').style.display = 'none'
        }, 1500)
        document.getElementById('order-items').submit();
    })
}

    </script>
</body>
</html>